## What is a Nested Dictionary?
A nested dictionary is a dictionary within another dictionary.

In [218]:
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

In [219]:
for sid, val in students.items():
    print (f"{sid}: {val['name']} is {val['age']} years old.")

student1: Alex is 21 years old.
student2: Maya is 22 years old.

### ðŸ§  Question 1: Basic Level
Prompt:

Write a Python function get_student_age(data, student_id) that takes a nested dictionary of students and a student ID (like 'student2') and returns the age of that student. If the student does not exist, return "Not found".

students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

get_student_age(students, 'student2')

In [220]:
def get_student_age(data, student_id):
    if student_id in data:
        return data[student_id]['age']
    else:
        return "Not found"

In [221]:
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

get_student_age(students, 'student1')

21

### ðŸ§  Question 3: Add a New Student
Prompt:

Write a function add_student(data, student_id, name, age) that adds a new student to the nested dictionary.

Example Input:

In [222]:

def add_student( data,student_id, name, age):
    data[student_id] = {"name": name, "age": age}
    return data

In [223]:
students = {
    'student1': {'name': 'Alex', 'age': 21}
}

In [224]:
add_student(students,student_id="student2", name= "Kashish", age=32)

{'student1': {'name': 'Alex', 'age': 21},
 'student2': {'name': 'Kashish', 'age': 32}}

### ðŸ§  Question 4: Count Students Above a Given Age
Prompt:

Write a function count_students_above_age(data, min_age) that returns the count of students whose age is greater than or equal to min_age.

In [225]:
def count_students_above_age(data, min_age):
    count = 0
    for student in data.values():
        print (student)
        if student["age"] >= min_age:
            count +=1
    return count

In [226]:
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22},
    'student3': {'name': 'John', 'age': 19}
}

count_students_above_age(students, 21)

{'name': 'Alex', 'age': 21}
{'name': 'Maya', 'age': 22}
{'name': 'John', 'age': 19}

2

### ðŸ§  Question 5: Update Student's Age
Prompt:

Write a function update_student_age(data, student_id, new_age) that updates the age of a given student. If the student is not found, return "Student not found".

In [227]:
def update_student_age(data, student, new_age):
    if student in data:
        data[student]['age'] = new_age

        return data[student]
    else:
        return "student not found"

In [228]:
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

In [229]:
update_student_age(students, "student1", 25)

{'name': 'Alex', 'age': 25}

In [230]:
students

{'student1': {'name': 'Alex', 'age': 25},
 'student2': {'name': 'Maya', 'age': 22}}

### ðŸ§  Question 6: Get All Student Names
Prompt:

Write a function get_all_student_names(data) that returns a list of all student names from the nested dictionary.

In [231]:
def get_all_student_names(data):
    list_names = []
    for students in data.values():
       list_names.append(students["name"])
    return list_names

In [232]:
data = {'student1': {'name': 'Alex', 'age': 25},
 'student2': {'name': 'Maya', 'age': 22}}

In [233]:
get_all_student_names(data)

['Alex', 'Maya']

### ðŸ§  Question 7: Delete a Student Record
Prompt:

Write a function delete_student(data, student_id) that removes a student from the dictionary. If the student doesn't exist, return "Student not found".

In [234]:
def delete_student(data, student_id):
    if student_id in data:
        del data[student_id]
        return data
    else:
        return "Student not found"

# Example usage
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

print(delete_student(students, 'student1'))

{'student2': {'name': 'Maya', 'age': 22}}

### ðŸ§  Question 8: Check if a Student Exists
Prompt:

Write a function student_exists(data, name) that returns True if any student in the nested dictionary has the given name, otherwise False.

In [235]:
def students_exists(data,name):
    for student in data.values():
        if student['name'] == name:
            return True
    else:
        False

In [236]:
students = {
    'student1': {'name': 'Alex', 'age': 21},
    'student2': {'name': 'Maya', 'age': 22}
}

In [237]:
students_exists(students, 'Maya')

True

# **LIST**

- Q1: Append an Element
        
    - Write a function add_item(lst, item) that appends an item to the list.

In [238]:
lst = [1,2,4]
def add_item(lst, item):
    lst.append(item)
    return lst

In [239]:
add_item(lst,5)

[1, 2, 4, 5]

- Q2: Insert at Specific Position


    - Write a function insert_at(lst, index, item) that inserts the item at the given index.

In [240]:
def insert_at(lst, index, item):
    lst.insert(index, item)
    return lst

In [241]:
lst = [1,2,4]

insert_at(lst, 1,10)

[1, 10, 2, 4]

- Q3: Update Value at Index
    - Write a function update_item(lst, index, new_value) that updates the element at the given index.

In [242]:
def update_item(lst, index, new_value):
    lst[index] = new_value
    return lst

In [243]:
lst = [1,2,4]
update_item(lst,2,3)

[1, 2, 3]

- Q4: Delete by Index   
    - Write a function delete_by_index(lst, index) that removes the item at the specified index.

In [244]:
def delete_by_index(lst,index):
    del lst[index]
    return lst

In [245]:
lst = [1,2,4,44,55]

delete_by_index(lst,3)

[1, 2, 4, 55]

- Q5: Remove by Value
    - Write a function remove_value(lst, value) that removes the first occurrence of the given value.

In [246]:
def remove_value(lst,value):
    lst.remove(value)
    return lst

In [247]:
lst = [1,2,4,44,55]

remove_value(lst, 44)

[1, 2, 4, 55]

- Q6: Get List Length
Write a function list_length(lst) that returns the number of items in the list.

In [248]:
def list_length(lst):
    return len(lst)

In [249]:
lst = [1,2,4,44,55]
list_length(lst)

5

-  Q7: Find Index of Value
    - Write a function find_index(lst, value) that returns the index of the first occurrence of the value. Return "Not found" if it doesnâ€™t exist.

In [250]:
def find_index(lst,value):
  return lst.index(value)

In [251]:
lst = [1,2,4,44,55]
find_index(lst,2)

1

- Q8: Slice List
    - Write a function get_sublist(lst, start, end) that returns a sublist from index start to end - 1.

In [252]:
def get_sublist(lst, start,):
    return lst[start:len(lst)+1]

In [253]:
lst = [1,2,4,44,55]
get_sublist(lst,2)

[4, 44, 55]

-  Q9: Check if Value Exists
    - Write a function check_exists(lst, value) that returns True if the value is in the list, otherwise False.

In [254]:
def check_exists(lst,value):
    for item in lst:
        if item ==value:
            return True
    return False

In [256]:
def check_exist2(lst,value):
    return value in lst

In [258]:
lst = [1,3,4,4,5,5,4]
check_exists(lst,2)
check_exist2(lst,434)

False

- Q10: Count Occurrences
    - Write a function count_occurrences(lst, value) that returns how many times the value appears in the list.

In [261]:
def count_occurences(lst,value):
    count = 0
    for i in lst:
        if i ==value:
            count +=1
    return count

In [262]:
list1 =[12,3,3,3,6,7]

count_occurences(list1, 3)

3

In [263]:
def count_occurrences(lst, value):
    return lst.count(value)

In [266]:
list1 =[12,3,3,3,6,7,12,444,22]

count_occurences(list1, 444)

1

### LIST PART 2

- Q1: Remove Duplicates
    - Write a function remove_duplicates(lst) that removes duplicates while preserving order.

In [290]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
            
    return result

In [291]:
lst = [12,3,4,5,5,5]

remove_duplicates(lst)

[12, 3, 4, 5]

- Q2: Get Even Numbers
    - Write a function get_even_numbers(lst) that returns a new list of even numbers only.

In [292]:
def get_even_numbers(lst):
    lst_even =[]
    for item in lst:
        if item%2==0:
            lst_even.append(item)
    return lst_even

In [293]:
lst = [12,3,4,50,5,56,341]

get_even_numbers(lst)

[12, 4, 50, 56]

- Q3: Reverse a List
     - Write a function reverse_list(lst) that returns the reversed list without using [::-1].

In [1]:
def reverse_list(lst):
    reversed_lst=[]
    for item in lst:
        reversed_lst.insert(0,item)
    return reversed_lst

In [2]:
lst=[1,34,5,6,6]

reverse_list(lst)

[6, 6, 5, 34, 1]