### MAP(), ZIP(), FOR, while, enumerate()

#### 1.Square each number in a list using map()

The map() function in Python applies a given function to each item in an iterable (like a list) and returns a map object (iterator) with the results.

map(function, iterable)

In [3]:
list_1 = [1,2,4,5,7]
result = list(map(lambda x: x**2,list_1))
print (result)

[1, 4, 16, 25, 49]

2. Use map() to add 5 to each number in the list:

In [4]:
list_2 = [1,3,4,5,6]

result_2 = list(map(lambda x : x+5, list_2))
print (result_2)

[6, 8, 9, 10, 11]

3. Convert a list of strings to uppercase using map():

In [ ]:
string_1 = "Kashish"
def upper(str1):
    print (str1.upper())

In [12]:
words = ["upper, lower"]
result = list(map(str.upper, words))
print(result)

['UPPER, LOWER']

4. Use map() to find the length of each string in the list:

In [24]:
string_2 = ["Kashish", "Vaid"]

result = list(map(len,string_2 ))
print (result)

[7, 4]

5. Multiply each number in the list by 10 using map():

In [25]:
list_3 = [1,3,4,5,5,6]

result_3 = list(map(lambda x:x*5, list_3))
print(result_3)

[5, 15, 20, 25, 25, 30]

6.  Convert a list of temperatures from Celsius to Fahrenheit using map()

In [27]:
temp = [4,5,6,6,8]

farh_temp = list(map(lambda x : (x*1.8)+32, temp))
print (farh_temp)

[39.2, 41.0, 42.8, 42.8, 46.4]

8. Remove leading and trailing whitespaces from each string in the list:

In [29]:
dirty_words = ['  apple ', ' banana  ', '  cherry ']

clean_words = list(map(str.strip, dirty_words))
print (clean_words)

['apple', 'banana', 'cherry']

7. Square only the positive numbers; replace negatives with 0:

In [31]:
nums = [-3, 4, -2, 5,55,8]

result_nums= list(map (lambda x : x**2 if x>0 else 0, nums))
print (result_nums)

[0, 16, 0, 25, 3025, 64]

8. Round a list of floats to 1 decimal place:

In [33]:
prices = [12.345, 67.891, 3.1415]

round_list = list(map(lambda x : round(x,1),prices))
print(round_list)

[12.3, 67.9, 3.1]

10. Flatten and double nested list elements (1 level only)

In [35]:
data_1 = [[1, 2], [3, 4], [5]]

flattened = sum(data_1, [])
print (flattened)

result_f = list(map(lambda x :x*2 , flattened))
print (result_f)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

12. Extract scores from a list of dictionaries:

In [40]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 85}]

scores = [student['score'] for student in students]
print (scores)

[88, 92, 85]

In [41]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 85}]

scores_1 = list(map(lambda x : x['score'],students))
print (scores_1)

[88, 92, 85]

13. Convert a list of full names to email addresses using map + lambda:

In [45]:
names = ['John Doe', 'Jane Smith']

emails = list(map (lambda x: x.lower().replace(" ", ".") +"@gmail.com", names))
print (emails)

['john.doe@gmail.com', 'jane.smith@gmail.com']

14. Double only the even numbers in the list

In [48]:
nums = [1, 2, 3, 4, 5, 6]

eve_num = list(map(lambda x : x*2 if x%2==0 else x, nums))
print (eve_num)

[1, 4, 3, 8, 5, 12]

15. From a list of strings, keep only those longer than 3 characters and convert to uppercase

In [50]:
words = ['cat', 'apple', 'hi', 'banana']

results_11 = list(map(str.upper , filter(lambda x : len(x)>3, words)))
print (results_11)

['APPLE', 'BANANA']

16. Filter out negative numbers and cube the rest

In [55]:
nums = [-2, 0, 3, -1, 5]

cube_list = list(map (lambda x :x**3, filter(lambda x :x>=0, nums)))
print (cube_list)

[0, 27, 125]